* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



@font-face {
  font-family: "Boneribbon-Bold";
  src: url("/font/Boneribbon-Bold/Boneribbon\ Bold.ttf");
}
body {
  background-color: rgb(183, 19, 117);
}

/*barra de navegacion superior*/

.navBar  {
  width: 100vw;
  background-color: rgb(139, 24, 116);
  display: flex;
  justify-content: flex-end;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
   font-size: 1rem;
   padding: 1.5rem 4rem;
   position:sticky;
   top:0;
  
}
li{
  padding: 0.5rem;
  list-style: none;
}

.navBar li :hover{
  background-color: antiquewhite;
  border-radius: 1rem;
  color: rgb(139, 24, 116);
}
.barraNavSuperior{
  display: flex;
    flex-direction: row;
    align-items: end;
    list-style: none;
}
/*icono hamburguesa*/
.icon {
  display: none;
}
/*header, presentacion*/
.hola{
  font-size: 3rem;
}

 a {
  color: rgb(247, 149, 64);
    text-decoration: none;
   
}

h1 {
  font-family: "Boneribbon-Bold";
  font-size: 4.5rem;
}
h2 {
  
  font-family: "Boneribbon-Bold";
  color: black;
  font-size: 3rem;
}
h3{
  color: black;
  font-size:1.5rem ;
  height: 2rem;
}
.presentacion {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: normal;
  align-content: center;
}
.presentacionTexto {
  width: 50%;
  margin: 0.6rem 3.75rem;
  line-height: 1.5;
  font-weight: 700;
  font-size: 2.4rem;
  font-family: "Dancing Script", cursive;
}
.presentacionImg {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.9rem;
}
img {
  
  border-radius: 50%;
  border: 0.37rem double black;
}
.boton {
  background-color: rgb(247, 149, 64);
  padding: 0.62rem 1.87rem;
  border: 0.31rem  double black;
  border-radius: 1.25rem;
  font-size: 1.25rem;
  margin-left: 15%;
  margin-top: 1.25rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.conocimiento {
  text-align: center;
  line-height: 1.5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 9.37rem 1.6rem;
}
/* introduccion de conocimiento*/
.conocimiento p{
  font-size: 2.5rem;
  font-family: "Dancing Script", cursive;
}
.conocimiento h3{
  font-size: 2rem;
}
.logoConocimiento .fa-brands {
  font-size: 11.25rem;
 
}
.contenedorConocimiento {
  width: 70vw;
  min-height: 85vh;
  display: flex;
  flex-wrap: wrap;
}
.logoConocimiento {
  border: 0.25rem  solid grey;
  border-radius: 20px;
  margin: 1.25rem 1.25rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  width: 28%;
  height: 50%;
  padding: 0.62rem;
}

.logoConocimiento:hover {
  border: 0.25rem  solid rgb(252, 79, 0);
}

/*CITA*/
.fa-quote-right{
  font-size: 4rem;
}
.fa-quote-left{
  font-size: 4rem;
}
.frase {
  text-align: center;
  margin: 4rem 4rem;
  background-color: rgb(247, 149, 64);
  border-radius: 30px;
  border: 4px solid rgb(252, 79, 0);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  line-height: 1.2;
  padding: 1rem;
  
}
.frase p{
  font-family: "Dancing Script", cursive;
  font-size: 3.2rem;
 
}
.fa-hand-holding-heart{
  font-size: 3rem;
}

.proyectos {
  text-align: center;
}
.contenedorProyectos {
  width: 100vw;
  min-height: 75vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.proyecto {
  border: 0.25rem solid grey;
  border-radius: 20px;
  margin: 1.25rem 1.25rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  width: 26vw;
  height: 35vh;
  padding: 10px;
  text-align: center;
 
}

.proyecto:hover {
  border: 0.25rem solid rgb(252, 79, 0);
}

img {
  width: 12.5rem;
  height: 8rem;
  border-radius: 50%;
}
.arrow-icon {
  position: fixed;
  right: 0.62rem;
  bottom: 0.62rem;
  width: 3.12rem;
  height: 3.12rem;
}
/*contacto*/

.sectionContacto{
  display: flex;
  justify-content: center;
  background-color: rgb(139, 24, 116);
  margin:6rem auto;
  width: 75rem;
  border-radius: 2rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.contactoContainer{
  width: 55rem;
  height: 25rem;
   margin: 3rem;
  display: flex;
  justify-content: space-around;
 
}
.contactoRedes, .contactoForm{
 
  width: 45%;
  height: 100%;
  border: 0.25rem solid grey;
  margin: 0.5rem;
  border-radius: 2rem;
  flex-direction: row;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: bisque;
  padding: 1rem 3rem;
  font-size: 1.5rem;
}

  .contactoRedes:hover {
    border: 0.4rem solid rgb(252, 79, 0);
  }
  .contactoForm:hover{
    border: 0.4rem solid rgb(252, 79, 0);
  }

.contactoRed{
  font-size: 2rem;
  margin:0.5rem 2rem;
}
.icono-contacto{
padding: 0.5rem;
border-radius: 50%;
background-color: rgb(139, 24, 116);
margin:0.25rem 1rem;
}
input{
  border-radius: 0.3rem;
  font-size: 1.5rem;
  
}
textarea{
  margin: 1rem;
}

#piecito{
  width: 100vw;
  height: 35vh;
    background-color: rgb(139, 24, 116);
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.75);
   font-size: 1rem;
   padding: 3rem;
}
 .redes i{
 
  width: 1rem;
  height: 1rem;
}
.redes i :hover{
  background-color: rgb(139, 24, 116) ;
  padding: 1rem;
  border-radius: 3.12rem;
 
}
.creditos{
  background-color: antiquewhite;
  
}
.credito{
  width: 1rem;
  
}

@media (max-width: 880px) and (min-width: 481px) {
  .logoConocimiento .fa-brands {
    font-size: 4rem;
   
  }
  .frase p{
    font-size: 1.6rem;
    line-height: normal;
  }
  .sectionContacto{
    width: 99%;
  }
}
@media (max-width: 480px) and (min-width: 380px) {
  .logoConocimiento .fa-brands {
    font-size: 3rem;
   
  }
  .logoConocimiento {
    width: 35%;
  }
 
  .logoConocimiento h3 {
    font-size: 0.75rem;
  }
  
  .icon{
    display: block;
    margin: 0.5rem 1rem;
  }
  img{
    width: 5rem;
    border-radius: 50%;
  }
   h3{
    font-size: 1rem;
  }
  .navBar{
    width: 100%;
    position:sticky;
    top: 0;
  }
  .barraHeader{
    display: none;
  }
  .sectionContacto{
    width: 99%;
  }
  .contactoContainer{
    flex-direction: column;
    width: 100%;
    height: 45rem;
  }
  .contactoRedes, .contactoForm{
    width: 98%;
  }
}



@media (max-width: 379px) and (min-width: 280px) {
  #barraHeader {
    display: none;
  }
  .icon{
    display: inline;
  }

  .frase p{
   
    line-height: 0.1;
    font-size: 0.5rem;
  }
  .logoConocimiento{
    width: 20vw;
    height: 15vh;
  }
  .logoConocimiento .fa-brands {
    font-size: 2.5rem;
   
  }
  
  h3 {
    font-size: 0.6rem;
  }
  .fa-brands {
    font-size: 1.5em;
  }
  .frase {
    height: 50vw;
  }
  img{
    width: 5rem;
    border-radius: 50%;
  }
  .barraHeader{
    display:none;
  }
  .sectionContacto{
    width: 99%;
  }
  .contactoContainer{
    flex-direction: column;
  }
  .contactoRedes, .contactoForm{
    width: 98%;
  }
  .sectionContacto h2{
    font-size: 2rem;
  }
}
